{% include "../index.html" %}
{% load static %}
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
      data-sidebar-position="fixed" data-header-position="fixed">
      <div class="body-wrapper">
        

<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h5 class="card-title fw-semibold mb-4">Water By The Season</h5>
      <a href="{% url 'plant_type_create' %}">Add New Plant Type</a>
    </div>
    
    <div class="table-responsive">
      <table class="table text-nowrap mb-0 align-middle text-center">
        <thead class="text-dark fs-4 border-bottom">
          <tr>
            <th class="border-bottom-0">
              <h6 class="fw-semibold mb-0">Plant Type</h6>
            </th>
            <th class="border-bottom-0">
              <h6 class="fw-semibold mb-0">Winter<span class="form-text">(Dec To Feb)</span></h6>
            </th>
            <th class="border-bottom-0">
              <h6 class="fw-semibold mb-0">Sprint<span class="form-text">(Mar To May)</span></h6>
              
            </th>
            <th class="border-bottom-0">
              <h6 class="fw-semibold mb-0">Summer<span class="form-text">(Jun To Aug)</span></h6>
            </th>
            <th class="border-bottom-0">
              <h6 class="fw-semibold mb-0">Fall<span class="form-text">(Sep To Nov)</span></h6>
              
            </th>
            <th class="border-bottom-0">
              <h6 class="fw-semibold mb-0">Number of Plants</h6>
            </th>
            <th class="border-bottom-0">
              <h6 class="fw-semibold mb-0">Plants</h6>
            </th>
            <th class="border-bottom-0">
              <h6 class="fw-semibold mb-0">Actions</h6>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for plant_type in plant_types %}
          <tr>
            <td class="border-bottom-0">
              <div class="d-flex justify-content-center align-content-center">
                  <img srcset="{% static plant_type.plant_type_image.url %}" alt="{{ plant.plant_type_name }}" width="35" height="35">
                  <h6 class="fw-semibold mb-0">{{ plant_type.plant_type_name }}</h6>
              </div>
              
          </td>
            <td class="border-bottom-0">
                <h6 class="fw-semibold mb-1">{{ plant_type.winter_irrigation_frequency }}</h6>
                                     
            </td>
            <td class="border-bottom-0">
              <p class="mb-0 fw-normal">{{ plant_type.spring_irrigation_frequency }}</p>
            </td>
            <td class="border-bottom-0">
              <p class="mb-0 fw-normal">{{ plant_type.summer_irrigation_frequency }}</p>
            </td>
            <td class="border-bottom-0">
              <p class="mb-0 fw-normal">{{ plant_type.fall_irrigation_frequency }}</p>
            </td>
            <td class="border-bottom-0">
              <p class="mb-0 fw-normal">{{ plant_type.plant_count }}</p>
            </td>
            <td class="border-bottom-0">
              <a href="{% url 'plant_list' plant_type.id %}">View Plants</a>
            </td>
            <td class="border-bottom-0">
              <a href="{% url 'plant_type_update' plant_type.id  %}">Edit</a> |
              <form action="{% url 'plant_type_delete' plant_type.id %}" method="post" style="display:inline;">
                  {% csrf_token %}
                  <button class="btn btn-danger btn-sm" type="submit" onclick="return confirm('Are you sure you want to delete this plant type?');">Delete</button>
              </form>
            </td>
          </tr> 
          {% endfor %}                   
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</div>
