{% include "../index.html" %}
{% load static %}

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
      data-sidebar-position="fixed" data-header-position="fixed">
        <!--  Header Start -->
      
        <!--  Header End -->
        <div class="container-fluid">
          <div class="container-fluid">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <h5 class="card-title fw-semibold mb-4">
                    {{ action }} Plant Type
                  </h5>
                </div>

                <div class="card">
                  <div class="card-body">
                    
                    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{{ action }}</button>
        <a href="{% url 'plant_type_list' %}">Cancel</a>
    </form>
                  </div>
                </div>
                
            </div>
          </div>
        </div>
      </div>
    </div>

