
{% include "../index.html" %}
{% load static %}
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
      data-sidebar-position="fixed" data-header-position="fixed">
        <div class="container-fluid">
          <div class="container-fluid">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <h5 class="card-title fw-semibold mb-4">
                    {{ action }} Plant for {{ plant_type.plant_type_name }}
                  </h5>
                </div>

                <div class="card">
                  <div class="card-body">
                    
                    
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}  <!-- Render form fields -->
                        <button type="submit">Save</button>
                    </form>
                    <a href="{% url 'plant_list' plant_type.id %}">Cancel</a>
                  </div>
                </div>
                
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'Admin/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'Admin/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'Admin/js/sidebarmenu.js' %}"></script>
    <script src="{% static 'Admin/js/app.min.js' %}"></script>
    <script src="{% static 'Admin/libs/apexcharts/dist/apexcharts.min.js' %}"></script>
    <script src="{% static 'Admin/libs/simplebar/dist/simplebar.js' %}"></script>
    <script src="{% static 'Admin/js/dashboard.js' %}"></script>
  </body>
</html>
