{% include '../../nav.html' %}
{% load static %}

<div class="about mt-5 mb-5">
    <div class="container-fluid">
       <div class="row d_flex">
          <div class="col-lg-6 col-md-12">
             <div class="titlepage text_align_left">
                <h2>Welcome to Your Field Management</h2>
                <h1>{{predicted_water_requirement}}</h1>
                <p>In this section, you can easily add and manage your fields. Please provide detailed information about your field, including its location, size, and soil type.</p>
             </div>
          </div>
          <div class="col-lg-6 col-md-12">
             <div class="row d_flex">
              <div class="col-md-8">
                <div class="titlepage">
                    <h2 class="text_align_center mb-4">Add your Field information</h2>
                    <form method="post" action="{% url 'CropFront' %}">
                        {% csrf_token %}
                        {% for field in form %}
                    <div class="mb-3">
                        {{field}}
                    </div>
                    {% endfor %}
                        <button class="saveButton" name="save">Add field</button>
                    </form>
                </div>
              </div>
             </div>
          </div>
       </div>
    </div>
 </div>

 <div class="news">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage text_align_left">
               <h2>Your Fields</h2>
            </div>
         </div>
      </div>
      <div class="row mb-5">
        {% for field in fields %}
        <div class="col-md-4">
         <div class="latest">
            <figure><img src="{% static "images/news3.jpg" %}" alt="#"/></figure>
            <span>{{ field.area_size }}<br> 
               Hectare
               </span>
            <div class="nostrud">
               <h3>{{ field.location }}</h3>
               <p>Soil quality: {{ field.soil_quality }}</p>
               <p>Crop: {{ field.crop }}</p>

               <form method="post" action="{% url 'CropFront' %}">
                  {% csrf_token %}
                  <button type="submit" name="update" value="{{ field.id }}" class="btn btn-primary">Update</button>
                  <button type="submit" name="delete" value="{{ field.id }}" class="btn btn-danger">Delete</button>
                  <button type="submit" name="predict" value="{{ field.id }}" class="btn btn-danger mt-2">Predict Water Requirement</button>
               </form>

               {% if editing_field == field.id and showpredict == false %}
               <form method="post" action="{% url 'CropFront' %}">
                  {% csrf_token %}
                  <h4 class="mt-4">Edit Field Information</h4>
                  {% for field in formupdate %}
                  <div class="mb-3">
                      {{field}}
                  </div>
                  {% endfor %}
                  <button class="saveButton" name="edit" value="{{ field.id }}">Update field</button>
               </form>
               {% endif %}


               {% if editing_field == field.id and showpredict %}
               <form method="post" action="{% url 'CropFront' %}">
                  {% csrf_token %}
                  <h4 class="mt-4">We need more details for accurate prediction</h4>
                  {% for field in formpredict %}
                  <div class="mb-3">
                      {{field}}
                  </div>
                  {% endfor %}
                  <button class="saveButton" name="SendPrediction" value="{{ field.id }}">Get Prediction</button>
               </form>
               {% endif %}
            </div>
         </div>
        </div>
        {% endfor %}
        
      </div>
   </div>
</div>
{% include '../../footer.html' %}
