{% include "../index.html" %}
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
      data-sidebar-position="fixed" data-header-position="fixed">
<div class="container my-5">
  <div class="body-wrapper">
  <h1 class="text-center mb-4">Weather Information</h1>

  <div class="card">
      <div class="card-body">
          <h2>Add Weather Data</h2>
          <br>
          <form method="post">
              {% csrf_token %}
              <div class="input-group mb-3">
                  <input type="text" name="city" class="form-control" placeholder="Enter city name" required>
                  <button class="btn btn-primary" type="submit">Send Weather</button>
              </div>
          </form>

          {% if error %}
              <p class="error-message text-danger">{{ error }}</p>
          {% elif weather_data %}
              <div class="weather-summary mt-3">
                  <h2 class="h5">Weather in {{ weather_data.name }}</h2>
                  <p>Temperature: <strong>{{ weather_data.main.temp }}°C</strong></p>
                  <p>Humidity: <strong>{{ weather_data.main.humidity }}%</strong></p>
                  <p>Precipitation: <strong>{{ weather_data.rain.1h|default:0 }} mm</strong></p>
              </div>
              
              <!-- Irrigation Need Section -->
               <br>
               <br>
            
          {% else %}
              <p>No weather data available.</p>
          {% endif %}
          <a href="{% url 'weather_list' %}" class="btn btn-secondary mb-3">Weather Data  </a>

      </div>
  </div>
</div>
 </div>
</div>
</div>