{% include "../index.html" %}
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
      data-sidebar-position="fixed" data-header-position="fixed">
      <div class="body-wrapper">
<div class="container">

  <h1 class="my-4">Weather Data</h1>
  <a href="{% url 'fetch_weather' %}" class="btn btn-primary mb-3">Add Weather Data</a>
  <a href="{% url 'irrigation_plan_list' %}" class="btn btn-secondary mb-3">Irrigation Plan</a>
  <table class="table table-bordered">
      <thead>
          <tr>
              <th>*</th>
              <th>City</th>
              <th>Temperature (°C)</th>
              <th>Humidity (%)</th>
              <th>Precipitation (mm)</th>
              <th>Date Recorded</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
          {% for weather in weather_data %}
          <tr>
              <td style="text-align: center;">
                  <img src="https://t4.ftcdn.net/jpg/07/91/53/75/360_F_791537590_uPN6ynesdgOLrUVnYFewUFe4Gnw4AI0p.jpg" 
                       alt="Weather Icon" 
                       style="width: 50px; height: 50px; object-fit: cover;">
              </td>
              <td>{{ weather.city }}</td>
              <td>{{ weather.temperature }}</td>
              <td>{{ weather.humidity }}</td>
              <td>{{ weather.precipitation }}</td>
              <td>{{ weather.timestamp|date:"Y-m-d H:i:s" }}</td>
              <td>
                  <a href="{% url 'delete_weather' weather.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
                  <a href="{% url 'update_weather' weather.id %}" class="btn btn-warning btn-sm">Edit</a>

              </td>
          </tr>
          {% empty %}
          <tr>
              <td colspan="7">No weather data available.</td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
</div>
</div>
