
{% include "../index.html" %}
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
      data-sidebar-position="fixed" data-header-position="fixed">
<div class="container">
  

      <div class="body-wrapper">
        <h1 class="my-4">Update Weather Data for {{ weather.city }}</h1>

  <form method="post">
      {% csrf_token %}
      
      <!-- City Field -->
      <div class="mb-3">
          <label for="id_city" class="form-label">City</label>
          <input type="text" class="form-control" id="id_city" name="city" value="{{ form.city.value|default_if_none:'' }}">
          {{ form.city.errors }}
      </div>

      <!-- Temperature Field -->
      <div class="mb-3">
          <label for="id_temperature" class="form-label">Temperature (°C)</label>
          <input type="text" class="form-control" id="id_temperature" name="temperature" value="{{ form.temperature.value|default_if_none:'' }}">
          {{ form.temperature.errors }}
      </div>

      <!-- Humidity Field -->
      <div class="mb-3">
          <label for="id_humidity" class="form-label">Humidity (%)</label>
          <input type="text" class="form-control" id="id_humidity" name="humidity" value="{{ form.humidity.value|default_if_none:'' }}">
          {{ form.humidity.errors }}
      </div>

      <!-- Precipitation Field -->
      <div class="mb-3">
          <label for="id_precipitation" class="form-label">Precipitation (mm)</label>
          <input type="text" class="form-control" id="id_precipitation" name="precipitation" value="{{ form.precipitation.value|default_if_none:'' }}">
          {{ form.precipitation.errors }}
      </div>

      <!-- Irrigation Need Field -->
      <div class="mb-3">
          <label for="id_irrigation_need" class="form-label">Irrigation Need (L/m²)</label>
          <input type="text" class="form-control" id="id_irrigation_need" name="irrigation_need" value="{{ form.irrigation_need.value|default_if_none:'' }}">
          {{ form.irrigation_need.errors }}
      </div>
      
      <button type="submit" class="btn btn-primary">Update Weather</button>
      <a href="{% url 'weather_list' %}" class="btn btn-secondary">Weather Data  </a>

  </form>
</div>
</div>
</div>